.menu-bar {
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.settings {
  padding: 10px;
  div {
    display: flex;
    justify-content: space-between;
  }
}