#sidebar {
    font: 14px "Fira Code Retina";
    flex: 0;
    flex-grow: 1;
    padding: 10px;
    h4 span {
        margin: 0 10px;
    }
}

#drives, #faves {
    ul {
        padding: 0 5px;
        margin: 5px auto;
        list-style: none;
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 10px auto;
            white-space: nowrap;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
    }
    span {
        margin: 0 4%;
    }
}

#faves ul li {
    display: block;
    margin: 5px auto;
}