@import '../../scss/variables';

.status-bar {
    font-weight: bold;
    padding: 2px 1%;
    display: flex;
    background-color: $segment-bg-colour;
    span {
        padding: 5px 0;
        margin: auto 5px;
    }
    div {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
    }
    svg {
        color: $red-colour;
    }
    #git {
        cursor: pointer;
    }
}