$red-colour: #b33d3d;
$close-colour: $red-colour;
$file-colour: #bdf3ff;
$check-color: #70e7a6;
$folder-colour: #d4d65a;
$crumb-colour: $folder-colour;

$main-bg-colour: #20252e;
$main-colour: whitesmoke;
$segment-bg-colour: rgba(0, 0, 0, 0.3);
$segment-border-colour: rgba(255, 255, 255, 0.3);
$border-colour: rgba(255,255,255,0.2);
$highlight-colour: $border-colour;

$scrollbar-inactive: inset 0 0 6px rgba(255, 255, 255, 0.5);
$scrollbar-active: inset 0 0 6px rgba(255, 255, 255, 1);